@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Saira+Extra+Condensed:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Saira Extra Condensed', sans-serif;
    letter-spacing: 2px;
}
body {
    height: 100%;
    display: flex;
}
aside {
    width: 20%;
    height: 100%;
    position: fixed;
    background: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: samePlace 1.2s .1s backwards;
}
aside ul li {
    margin-bottom: 20px;
    transition: all .3s;
}
aside ul li:hover {
    transform: scale(1.1);
}
aside ul li:nth-child(1) {
    animation: fromLeft 1.2s;
}
aside ul li:nth-child(2) {
    animation: fromLeft 1.2s .2s backwards;
}
aside ul li:nth-child(3) {
    animation: fromLeft 1.2s .4s backwards;
}
aside ul li:nth-child(4) {
    animation: fromLeft 1.2s .6s backwards;
}
aside ul li:nth-child(5) {
    animation: fromLeft 1.2s .8s backwards;
}
aside ul a {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}
aside ul a:hover {
    color: rgb(182, 123, 238);
}
nav {
    text-align: center;
}
.div-img {
    margin-bottom: 20px;
}
.div-img img {
    width: 55%;
    border-radius: 50%;
    border: 8px solid rgb(184, 124, 240);
    transition: all .3s;
}
.div-img img:hover {
    transform: scale(1.1);
}
.sobre {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 20%;
    padding: 0 3%;
    display: flex;
    align-items: center;
}
.f {
    animation: fromRight 1.2s;
}
.i-1 {
    animation: fromRight 1.2s .1s backwards;
}
.l {
    animation: fromRight 1.2s .2s backwards;
}
.i-2 {
    animation: fromRight 1.2s .3s backwards;
}
.p {
    animation: fromRight 1.2s .4s backwards;
}
.e {
    animation: fromRight 1.2s .5s backwards; 
}
.s-1 {
    animation: fromRight 1.2s .6s backwards;
}
.a {
    animation: fromRight 1.2s .7s backwards;
}
.n {
    animation: fromRight 1.2s .8s backwards;
}
.t {
    animation: fromRight 1.2s .9s backwards;
}
.o {
    animation: fromRight 1.2s .9.9s backwards;
}
.s-2 {
    animation: fromRight 1.2s .9.9s backwards;
}
.sobre ul {
    display: flex;
    gap: 20px;
}
.sobre ul i {
    font-size: 2.7rem;
    color: blueviolet;
}
.sobre h2 {
    color: #343a40;
    font-size: 2.8rem;
}
.sobre p {
    margin: 30px 0 40px 0;
    font-size: 1.3rem;
    color: #414549;
    font-weight: 500;
}
.sobre div p:nth-child(2) {
    animation: fromRight 1.2s;
}
.sobre div p:nth-child(3) {
    animation: fromRight 1.2s .2s backwards;
}
.sobre div p:nth-child(4) {
    animation: fromRight 1.2s .3s backwards;
}
.sobre div p:nth-child(5) {
    animation: fromRight 1.2s .4s backwards;
}
.sobre .span-blueviolet, h3 span {
    color: blueviolet;
}
.empresas {
    font-weight: 700;
}
.ul-line {
    display: flex;
    justify-content: space-between;
}
.ul-line li {
    transition: all .3s;
}
.ul-line li:hover {
    transform: scale(1.12);
}
.ul-line ul li:nth-child(1) {
    animation: fromBottom 1.2s;
}
.ul-line ul li:nth-child(2) {
    animation: fromBottom 1.2s .2s backwards;
}
.ul-line ul li:nth-child(3) {
    animation: fromBottom 1.2s .4s backwards;
}
.ul-line button {
    animation: fromBottom 1.2s .6s backwards;
}
.ul-line button {
    margin-right: 200px;
    color: white;
    background: blueviolet;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .3s;
}
.ul-line button:hover {
    transform: scale(1.1);
} 
.tecnologias {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 20%;
    padding: 0 3%;
    display: flex;
    align-items: center;
}
.verde {
    color: rgb(11, 168, 11);
}
.sobre div i {
    color: rgb(11, 168, 11);
}

@keyframes fromLeft {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fromRight{
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes samePlace {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@media only screen and (max-width:800px) {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes samePlace {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@media only screen and (max-width:800px) {
    body {
        width: 100%;
        flex-direction: column;
    }
    .container1 {
        max-width: 415px;
        margin: auto;
        width: 90%;
    }
    .ul-line button {
        margin-right: 0;
    }
    .div-img {
        display: none;
    }
    aside {
        display: flex;
        width: 100%;
        height: 20px;
        position: relative;
        padding: 20px 30px;
    }
    aside ul {
        display: flex;
        gap: 15px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    aside ul li {
        margin-bottom: 0;
    }
    .sobre {
        position: static;
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    .sobre div {
        text-align: center;
    }
    .sobre h2 {
        font-size: 2.6rem;
        margin-bottom: 30px;
    }
    .sobre p {
        margin-top: 0;
    }
    aside ul a {
        font-size: 0.75rem;
    }
    .sobre hr {
        margin: 20px 0;
    }
   
   
}   